/* WP CPT 1.4.8 */

#wpbody .wrap {
    font-family: 'Open Sans', Arial, sans-serif;
}

.ds-wp-cpt-metabox-settings-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    box-sizing: border-box;
}

.ds-wp-cpt-metabox-settings-row * {
    box-sizing: border-box;
}

.ds-wp-cpt-metabox-settings-label {
    padding: 10px 0;
    width: 25%;
    min-width: 180px;
    margin-right: 10px;
}

.ds-wp-cpt-metabox-settings-label-wide {
    padding-top: 10px;
    width: 40%;
    margin-right: 10px;
}

.ds-wp-cpt-metabox-settings-label-full {
    width: 100%;
    margin-right: 0;
}

#side-sortables .ds-wp-cpt-metabox-settings-label {
    width: 100%;
    padding-top: 0;
}

.ds-wp-cpt-metabox-settings-field-full {
    width: 100%;
}

.ds-wp-cpt-metabox-settings-row.texteditor .ds-wp-cpt-metabox-settings-label {
    padding: 0 0 20px;
}

.ds-wp-cpt-metabox-settings-label label {
    font-size: 14px;
    font-weight: bold;
}

.ds-wp-cpt-metabox-settings-field {
    flex: 1 1 0;
}

.ds-wp-cpt-field-desc {
    display: block;
    font-style: oblique;
}

.ds-wp-cpt-check,
.ds-wp-cpt-radio {
    padding-top: 12px;
}

.ds-wp-cpt-metabox-settings ul {
    margin-left: 20px;
}

.ds-wp-cpt-metabox-settings ul li {
    list-style-type: disc;
}


/* SWITCH STYLES */

.ds-wp-cpt-metabox-settings .ds-switch {
    position: relative;
    height: 40px;
    width: 200px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.ds-wp-cpt-metabox-settings .ds-switch-label {
    position: relative;
    z-index: 2;
    float: left;
    width: 98px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    cursor: pointer;
}

.ds-wp-cpt-metabox-settings .ds-switch-label:active {
    font-weight: bold;
}

.ds-wp-cpt-metabox-settings .ds-switch-label-1 {
    padding-left: 2px;
}

.ds-wp-cpt-metabox-settings .ds-switch-label-2 {
    padding-right: 2px;
}

.ds-wp-cpt-metabox-settings .ds-switch-input {
    display: none !important;
}

.ds-wp-cpt-metabox-settings .ds-switch-input:checked+.ds-switch-label {
    color: #FFF;
    transition: 0.15s ease-out;
    transition-property: color, text-shadow;
}

.ds-wp-cpt-metabox-settings .ds-switch-input:checked+.ds-switch-label-2~.ds-switch-selection {
    left: 100px;
    /* Note: left: 50%; doesn't transition in WebKit */
}

.ds-wp-cpt-metabox-settings .ds-switch-selection {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    width: 100px;
    height: 40px;
    border-radius: 3px;
    background-color: #0f5779;
    background-image: linear-gradient(top, #004e93, #003c71);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    transition: left 0.15s ease-out;
}


/* INPUTS */

.ds-wp-cpt-metabox-settings-row input[type="text"],
.ds-wp-cpt-metabox-settings-row input[type="number"],
.ds-wp-cpt-metabox-settings-row input[type="password"],
.ds-wp-cpt-metabox-settings-row textarea {
    margin-left: 0;
    border-radius: 4px;
    border: none;
    box-shadow: none;
    background: #f1f1f1;
    padding: 13px;
    font-size: 14px;
    color: #32373C;
    height: auto;
    width: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    width: 100%;
    margin-bottom: 0;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    transition: background .5s;
}

.ds-wp-cpt-metabox-settings-row input[type="text"]:focus,
.ds-wp-cpt-metabox-settings-row input[type="number"]:focus,
.ds-wp-cpt-metabox-settings-row input[type="password"]:focus,
.ds-wp-cpt-metabox-settings-row textarea:focus {
    background: #dedede;
}

.ds-wp-cpt-metabox-settings-row select {
    width: auto;
    min-width: 55%;
    height: 54px;
    margin-left: 0;
    border-radius: 4px;
    border: none;
    box-shadow: none;
    background-color: #f1f1f1;
    background-position: right 15px center;
    padding: 10px 13px;
    font-size: 14px;
    color: #32373C;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-bottom: 0;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    transition: background .5s;
    padding-right: 45px;
}

select.ds-wp-cpt-post-title-select {
    margin-right: 10px;
}

a.ds-wp-cpt-post-title-select {
    display: inline-block;
}

.ds-wp-cpt-metabox-settings-row.toggle {
    display: none;
}

.ds-wp-cpt-metabox-settings-row.hide-option {
    display: none;
}

.ds-wp-cpt-metabox-settings-row.show-option {
    display: flex;
}

.ds-cpt-removable-array-container {
    min-height: 46px;
    padding: 13px;
    border-radius: 4px;
    background: #f1f1f1;
    font-size: 14px;
}

.ds-cpt-removable-array-value:nth-child(n+2) {
    margin-top: 13px;
}

/* .ds-cpt-removable-array-value:before,
.ds-wp-cpt-uploader-removable.has-media:before,
.ds-wp-cpt-image-gallery-uploader-removable.has-image:before,
.ds-wp-cpt-image-uploader-removable.has-image:before */
.ds-cpt-removable-array-value:before {
    content: "\f153";
    position: relative;
    font-family: dashicons;
    vertical-align: middle;
    margin-right: 8px;
    cursor: pointer;
} 

.ds-wp-cpt-uploader-removable,
.ds-wp-cpt-image-uploader-removable,
.ds-wp-cpt-image-gallery-uploader-removable {
    position: relative;
    margin-top: 12px;
}

.ds-wp-cpt-image-gallery-uploader-removable.has-image {
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
}

.ds-wp-cpt-image-gallery-uploader-removable.has-image img {
    display: block;
    object-fit: cover;
    width: 150px;
    height: 150px;
}

/* .ds-wp-cpt-uploader-removable.has-media:before {
    position: absolute;
    font-size: 22px;
    right: 10px;
    top: 10px;
    margin-right: 0;
} */

/* .ds-wp-cpt-image-uploader-removable.has-image:before,
.ds-wp-cpt-image-gallery-uploader-removable.has-image:before {
    position: absolute;
    font-size: 22px;
    right: 10px;
    top: 10px;
    margin-right: 0;
    color: #ffffff;
    text-shadow: 1px 1px 7px #080808;
    z-index: 999;
} */

/* .ds-cpt-removable-array-value.has-media:hover,
.ds-wp-cpt-uploader-removable.has-media:hover,
.ds-wp-cpt-uploader-removable.has-media:hover p {
    cursor: pointer;
    background-color: rgba(255, 159, 159, 0.2);
} */

.ds-wp-cpt-image-uploader-image-gallery-container {
    display: flex;
    flex-wrap: wrap;
}

/* .ds-wp-cpt-image-uploader-image-container:before {
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    width: 100%;
    position: absolute;
    height: 100%;
} */

/* .ds-wp-cpt-image-uploader-removable.has-image:hover .ds-wp-cpt-image-uploader-image-container:before {
    display: block;
    cursor: pointer;
} */
.ds-wp-cpt-uploader .ds-wp-cpt-remove {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    display: none;
    z-index: 9;
}
.ds-wp-cpt-uploader .ds-wp-cpt-remove .fa-stack-1x.icon-background {
    font-size: 30px;
}
.ds-wp-cpt-uploader .has-image .ds-wp-cpt-remove,
.ds-wp-cpt-uploader .has-media .ds-wp-cpt-remove {
    display: block;
}
.ds-wp-cpt-uploader .ds-wp-cpt-remove:hover {
    cursor: pointer;
}
.ds-wp-cpt-uploader .ds-wp-cpt-remove:hover .fa-times-circle {
    color: #c40000;
}
.ds-cpt-removable-array-value:hover:before {
    color: #dc0000;
}


/* Validation Errors */

.ds-wp-cpt-field-error {
    color: #dc0000;
    font-weight: bold;
}

.ds-wp-cpt-metabox-settings-row.ds-wp-cpt-field-required .ds-wp-cpt-metabox-settings-label {
    color: #dc0000;
}

.ds-wp-cpt-metabox-settings-row input.ds-wp-cpt-field-required,
.ds-wp-cpt-metabox-settings-row input.ds-wp-cpt-field-validation-error {
    border: 2px solid #dc0000;
}

.ds-wp-cpt-api-info {
    margin: 10px 0;
    width: 100%;
    padding: 5px 5px;
    background-color: #f1f1f1;
    font-weight: bold;
}

.ds-wp-cpt-image-uploader-image-container {
    position: relative;
}

.ds-wp-cpt-image-uploader-image-container img {
    display: block;
    margin: 0 auto;
}

.ds-wp-cpt-uploader-image-container {
    padding: 10px 10px 0;
    text-align: center;
}

.ds-wp-cpt-file-name {
    font-weight: bold;
    font-size: 16px;
    background: #f1f1f1;
    padding: 10px;
    margin: 6px 0 0;
    display: none;
    text-align: center;
}

.has-media .ds-wp-cpt-file-name {
    display: block;
}
.wp-core-ui .ds-wp-cpt-upload-button.button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    height: auto;
    color: #f1f1f1;
    background: #117aa7;
    font-size: 16px;
    border: none;
    box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.15);
}

.wp-core-ui .ds-wp-cpt-upload-button.button:hover {
    color: #f1f1f1;
    box-shadow: none;
    cursor: pointer;
    background: #07668f;
}

.wp-core-ui .ds-wp-cpt-image-gallery-uploader .ds-wp-cpt-upload-button.button {
    max-width: 310px;
}

.wp-core-ui .ds-wp-cpt-uploader .ds-wp-cpt-upload-button.button .has-image,
.wp-core-ui .ds-wp-cpt-uploader .has-image .ds-wp-cpt-upload-button.button .no-image,
.wp-core-ui .ds-wp-cpt-uploader .has-media .ds-wp-cpt-upload-button.button .no-image {
    display: none;
}
.wp-core-ui .ds-wp-cpt-uploader .has-image .ds-wp-cpt-upload-button.button .has-image,
.wp-core-ui .ds-wp-cpt-uploader .has-media .ds-wp-cpt-upload-button.button .has-image {
    display: block;
}


/* Image Enhanced & Media Enhanced*/
.ds-wp-cpt-metabox-settings-row.image_enhanced .ds-wp-cpt-metabox-settings-field,
.ds-wp-cpt-metabox-settings-row.media_enhanced .ds-wp-cpt-metabox-settings-field,
.ds-wp-cpt-metabox-settings-row.image_enhanced .ds-wp-cpt-metabox-settings-field .ds-wp-cpt-repeater-item,
.ds-wp-cpt-metabox-settings-row.media_enhanced .ds-wp-cpt-metabox-settings-field .ds-wp-cpt-repeater-item {
    display: flex;
    flex-direction: column;
}
.ds-wp-cpt-metabox-settings-row.image_enhanced .ds-wp-cpt-metabox-settings-field > div,
.ds-wp-cpt-metabox-settings-row.media_enhanced .ds-wp-cpt-metabox-settings-field > div {
    order: 10;
}
.ds-wp-cpt-metabox-settings-row.image_enhanced .ds-wp-cpt-metabox-settings-field .ds-wp-cpt-field-desc,
.ds-wp-cpt-metabox-settings-row.media_enhanced .ds-wp-cpt-metabox-settings-field .ds-wp-cpt-field-desc  {
    order: 1;
    margin: 15px 0;
}

/* WooCommerce */

.ds-wp-cpt-metabox-wc-search-field .select2-container,
.ds-wp-cpt-metabox-wc-search-field .select2-container .select2-search--inline .select2-search__field {
    width: 100% !important;
}

.ds-wp-cpt-metabox-wc-search-field .select2-container .select2-selection {
    border: none;
    border-radius: 4px;
    background: #f1f1f1;
}

.ds-wp-cpt-metabox-wc-search-field .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #96588a;
    color: #fff;
}

.ds-wp-cpt-metabox-wc-search-field .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
}

/* Repeater */
.ds-wp-cpt-repeater {
    display: flex;
    flex-direction: column;
}
.ds-wp-cpt-repeater .ds-wp-cpt-repeater-add {
    margin-top: 10px;
}
.ds-wp-cpt-repeater .ds-wp-cpt-repeater-add:hover,
.ds-wp-cpt-repeater .ds-wp-cpt-repeater-item-remove:hover {
    cursor: pointer;
}
.ds-wp-cpt-repeater-item.ds-wp-cpt-repeater-item-remove-hover .ds-wp-cpt-metabox-field-wrapper {
    opacity: 0.5;
}
.ds-wp-cpt-repeater-item {
    position: relative;
    margin-bottom: 25px;
    background: #fff;
}
.ds-wp-cpt-repeater-item .ds-wp-cpt-repeater-item-move {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 24px;
    line-height: 24px;
}
.ds-wp-cpt-repeater-item .ds-wp-cpt-repeater-item-move:hover {
    cursor: move;
}
.ds-wp-cpt-repeater-item .ds-wp-cpt-repeater-item-move:before {
    content: "\f333";
    font-family: 'dashicons';
}
.ds-wp-cpt-repeater-item:after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: -10px;
    border: 1px solid #a9a9a9;
}
.ds-wp-cpt-repeater .ds-wp-cpt-repeater-item-remove {
    margin-bottom: 10px;
}
.ds-wp-cpt-repeater-item .ds-wp-cpt-repeater-item-remove:after {
    content: "\f14f";
    position: relative;
    font-family: dashicons;
    vertical-align: middle;
    margin-top: 8px;
    margin-left: 8px;
    cursor: pointer;
} 
.ds-wp-cpt-repeater .ds-wp-cpt-repeater-add:after {
    content: "\f10f";
    position: relative;
    font-family: dashicons;
    vertical-align: middle;
    margin-left: 8px;
    cursor: pointer;
} 
.ds-wp-cpt-repeater .ds-wp-cpt-repeater-item:first-child .ds-wp-cpt-repeater-item-remove {
    display: none;
}
.ds-wp-cpt-repeater .ds-wp-cpt-repeater-item:first-child:not(:nth-last-child(2)) .ds-wp-cpt-repeater-item-remove {
    display: block;
}
@media only screen and (max-width:525px) {
    .ds-wp-cpt-metabox-settings-label,
    .ds-wp-cpt-metabox-settings-label-wide {
        width: 100%;
    }
}


/* end media max-width 525px */